* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #f9415c;
  border-radius: 50px;
}
::-webkit-scrollbar-track {
  background: #fff;
}

.announcement-bar {
  font-weight: 300;
  color: white;
  text-align: center;
  background-color: rgb(249, 65, 92);
  padding: 1rem;
}

video {
  z-index: -1;
}

.video_overlays {
  position:absolute;
  width: 600px;
  min-height:40px;
  z-index:2;
  bottom: 40px;
  left:600px;
  top: 400px;
 
}

header {
  position: absolute;
  top: 81.2px;
  /* left: 0; */
  padding: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  color: white;
}

header img {
  width: 90px;
  height: 90px;
  justify-self: flex-start;
  margin-right: auto;
}

header .flex-item {
  text-align: right;
  padding-left: 1.5vw;
}

header .flex-home-item {
  text-align: right;
  padding-left: 2.5ww;
  margin-left: auto;
  border-radius: 25px;
  background-color: rgb(249, 65, 92);
}

header .flex-schedule-item {
  text-align: right;
  padding-left: 1.5vw;
  background-color: black;
  border-radius: 25px;
}

header .flex-item:hover {
  transform: translateY(-8px)
}

@media only screen and (max-width: 707px) {
  header .flex-item {
    margin: 1rem auto;
    width: 80vw;
    padding: 8rem 0;
    text-align: center;
  }
}

h2 {
  text-align: center;
  line-height: 1.2936;
  font-weight: 500;
  letter-spacing: 0em;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Avenir-Bold';
  font-size: calc((2.9 - 1) * 1.2vw + 1rem);  
}

p {
  text-align: center;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin: 1rem 0;
  word-wrap: break-word;
  font-family: 'Avenir-Light';  
  font-size: calc((1.5 - 1) * 1.2vw + 1rem);
}

h1 {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0em;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Avenir-Bold';  
  font-size: calc((4 - 1) * 1.2vw + 1rem);
}

.content {
  display: block;
  font-size: calc((1 - 1) * 1.2vw + 1rem);
  text-align: center;
}

body {
  text-align: center;
}

.sub-info-paragraph {
  text-align: center;
}

.content-container {
  justify-content: center;
}


.footer {
  position: absolute;
  left: 0;
  bottom: 10;
  width: 100%;
  background-color:white;
  color: black;
  text-align: center;
  padding-top: 100px;
}

.address-content {
  text-align: left;
  padding-left: 50px;
}

.header-card-text {
  font-size: 40px;
}

div .flex-card-item {
  border: black;
  background: rgb(51, 111, 119);
  width: 471.07px;
  height: 471.07px;
  color: white;
  margin-left: 100px;
  
}

div .flex-card-item-1 {
  border: black;
  background: rgb(97, 184, 198);
  width: 471.07px;
  height: 471.07px;
  color: white;
  margin-left: 100px;
  
}

div .flex-card-item-2 {
  border: black;
  background: rgb(9, 16, 46);
  width: 471.07px;
  height: 471.07px;
  color: white;
  margin-left: 100px;
  
}

.flex-card-container {
  left: 10px;
  padding-left: 10px;
}

.card-text {
  font-size: 20px;
}

.card-wrapper {
border: black;
padding-top: 100px;
}